<!DOCTYPE html>
<html>
  <head>
    <title><%= project[0]['p_code'] %></title>
    <style>
      #projDetails{
        padding-left: 30px;
      }
      #projDetails h1{
        font-family: 'Open Sans';
        font-weight: normal;
      }
      #pDetails, #formTable{
        font-family: 'Open Sans';
        padding-left: 50px;
        font-size: 20px;
        margin-top: 20px;
        border-collapse: separate;
      }
      #pDetails td, #formTable td{
        padding-right: 20px;
        vertical-align: top;
        padding-top: 15px;
        text-align: right;
      }
      #pDetails td:nth-child(2n){
        color: #008080;
        text-align: left;
      }
      input[type= 'file']{
        display: none;
        width: 100%;
      }
      #fuoL, input[type = "submit"]{
        font-size: 15px;
        cursor: pointer;
        border: solid 1px #008080;
        padding: 2px 5px;;
        border-radius: 3px;
        color: #008080;
        background-color: white;
      }
      #fuoL:hover{
        color: white;
        background-color: #008080;
      }
      input[type = 'radio']{
        display: inline;
        margin-left: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .rBtn{
        font-family: 'Open Sans';
        padding: 5px;
      }
      input{
        font-family: 'Open Sans';
        color: #008080;
      }
      th{
        text-align: left;
      }
      #formTable select{
        font-family: 'Open Sans';
        font-size: 15px;
      }
    </style>
  </head>
  <body>
  <% include ../partials/header.ejs %>
  <div id = "projDetails">
    <h1><%= project[0]['p_title']%></h1>
    <table id = "pDetails">
      <tr>
        <th colspan = "2">Project Details</th>
      </tr>
        <td>Project Code:</td>
        <td><%= project[0]['p_code']%></td>
        <td rowspan = "3">Members:</td>
        <td rowspan = "3" id = "members"></td>
      </tr>
      <tr>
        <td>SSEF Code:</td>
        <td id = "ssc"><%= project[0]['p_ssefcode']%></td>
      </tr>
      <tr>
        <td>Org:</td>
        <td><%= project[0]['p_org']%></td>
      </tr>
      <tr>
        <td>Teacher:</td>
        <td id = "inM"></td>
        <td>Report:</td>
        <td id = "Rp"></td>
      </tr>
      <tr>
        <td>Ext. Mentor:</td>
        <td id = "eM"></td>
        <td>Poster:</td>
        <td id = "Pstr"></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td><%= project[0]['p_status']%></td>
      </tr>
    </table>
    <table id = "formTable">
      <tr>
        <th>Submission</th>
      </tr>
      <tr>
        <td>
          <form action = "/upload" method = "post" id = "submit">
            <select name = "pStatus">
              <option value = "Ready">Ready to grade @ RC</option>
              <option value = "Extension">Need an Extension/Grading next year</option>
            </select>
        </td>
        <td>
          <label for="fuo" id="fuoL">Custom Upload</label>
          <input id="fuo" type="file"/>
          <input type = "submit" value = "upload">
        </td>
    </table>
  <script>
    <%if(project[0]['p_ssefcode'] == null){%>
      $("#ssc").html("-");
    <%}%>
    var row = "<%= project[0]['S1_Name']%>";
    <%if(project[0]['S2_Name'] != null){%>
      row += "<br><%= project[0]['S2_Name']%>";
    <%}%>
    <%if(project[0]['S3_Name'] != null){%>
      row += "<br><%= project[0]['S3_Name']%>";
    <%}%>
    <%if(project[0]['S4_Name'] != null){%>
      row += "<br><%= project[0]['S4_Name']%>";
    <%}%>
    $("#members").append(row);
    var t = "<%= project[0]['T1']%>";
    <%if(project[0]['T2'] != null){%>
      t += "<br><%= project[0]['T2']%>";
    <%}%>
    $("#inM").append(t);
    var exM = ""
    <%if(project[0]['M1'] == null){%>
      exM = "-";
    <%}else{%>
      exM = "<%= project[0]['M1'] %>";
      <%if(project[0]['M2'] != null){%>
        exM += "<br><%= project[0]['M2'] %>";
      <%}%>
      <%if(project[0]['M3'] != null){%>
        exM += "<br><%= project[0]['M3'] %>";
      <%}%>
    <%}%>
    $("#eM").append(exM);
    <%if(user == project[0]['S1_Name'] || user == project[0]['S2_Name'] || user == project[0]['S3_Name'] || user == project[0]['S4_Name']){%>
      $("#upload").show();
    <%}%>
    <%if(project[0]['report'] == null){%>
      $("#Rp").html("Not submitted");
    <%}%>
    <%if(project[0]['poster'] == null){%>
      $("#Pstr").html("Not submitted");
    <%}%>
  </script>
  </body>
</html>
