<!DOCTYPE html>
<html>
  <head>
    <title><%= project[0]['p_code'] %></title>
    <style>
      #projDetails{
        padding-left: 30px;
      }
      #projDetails h1{
        font-family: 'Open Sans';
        font-weight: normal;
      }
      #pDetails, #formTable{
        font-family: 'Open Sans';
        padding-left: 50px;
        font-size: 20px;
        margin-top: 20px;
        border-collapse: separate;
        margin-bottom: 20px;
      }
      #pDetails td, #formTable td{
        padding-right: 20px;
        vertical-align: top;
        padding-top: 15px;
        text-align: right;
      }
      #pDetails td:nth-child(2n){
        color: #008080;
        text-align: left;
      }
      input[type= 'file']{
        display: none;
        width: 100%;
      }
      #fuoL, #fuoPL, input[type = "submit"]{
        font-size: 15px;
        cursor: pointer;
        border: solid 1px #008080;
        padding: 2px 5px;;
        border-radius: 3px;
        color: #008080;
        background-color: white;
      }
      #fuoL:hover, #fuoPL:hover, input[type = 'submit']:hover{
        color: white;
        background-color: #008080;
      }
      input[type = 'radio']{
        display: inline;
        margin-left: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .rBtn{
        font-family: 'Open Sans';
        padding: 5px;
      }
      input{
        font-family: 'Open Sans';
        color: #008080;
      }
      th{
        text-align: left;
      }
      #formTable select{
        font-family: 'Open Sans';
        font-size: 15px;
      }
      .fname{
        font-size: 15px;
      }
      .dlLink{
        text-decoration: none;
        color: #008080;
      }
      .dlLink:hover{
        color: black;
      }
    </style>
  </head>
  <body>
  <% include ../partials/header.ejs %>
  <div id = "projDetails">
    <h1><%= project[0]['p_title']%></h1>
    <table id = "pDetails">
      <tr>
        <th colspan = "2">Project Details</th>
      </tr>
        <td>Project Code:</td>
        <td><%= project[0]['p_code']%></td>
        <td rowspan = "3">Members:</td>
        <td rowspan = "3" id = "members"></td>
      </tr>
      <tr>
        <td>SSEF Code:</td>
        <td id = "ssc"><%= project[0]['p_ssefcode']%></td>
      </tr>
      <tr>
        <td>Org:</td>
        <td><%= project[0]['p_org']%></td>
      </tr>
      <tr>
        <td>Teacher:</td>
        <td id = "inM"></td>
        <td>Report:</td>
        <td id = "Rp"></td>
      </tr>
      <tr>
        <td>Ext. Mentor:</td>
        <td id = "eM"></td>
        <td>Poster:</td>
        <td id = "Pstr"></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td><%= project[0]['p_status']%></td>
        <td>Grading:</td>
        <td id = "gStat"></td>
      </tr>
    </table>
    <table id = "formTable" style = "display: none;">
      <tr>
        <th>Submission</th>
      </tr>
      <tr>
        <td>
          <form action="/uploadDocs" enctype="multipart/form-data" method="post">
            <input type = "hidden" name = "code" value = "<%= project[0]['p_code'] %>">
            <select name = "pStatus" id = "pStatus">
              <option value = "Ready to Grade at RC">Ready to grade @ RC</option>
              <option value = "Extension Required">Need an Extension/Grading next year</option>
            </select>
        </td>
        <td>
          <label for="fuo" id="fuoL">Select Project Docs</label>
          <input type="file" name="upload" multiple id = "fuo"><span class = "fname">None Selected</span>
          <input type = "submit" value = "Upload">
        </form>
        </td>
        <td>
          <form action="/uploadPoster" enctype="multipart/form-data" method="post">
            <input type = "hidden" name = "code" value = "<%= project[0]['p_code'] %>">
            <label for="fuoP" id="fuoPL">Select Poster</label>
            <input type="file" name="upload" multiple id = "fuoP"><span class = "fname">None Selected</span>
            <input type = "submit" value = "Upload">
          </form>
        </td>
      </tr>
    </table>
  <script>
    <%if(project[0]['p_ssefcode'] == null){%>
      $("#ssc").html("-");
    <%}%>
    var row = "<%= project[0]['S1_Name']%>";
    <%if(project[0]['S2_Name'] != null){%>
      row += "<br><%= project[0]['S2_Name']%>";
    <%}%>
    <%if(project[0]['S3_Name'] != null){%>
      row += "<br><%= project[0]['S3_Name']%>";
    <%}%>
    <%if(project[0]['S4_Name'] != null){%>
      row += "<br><%= project[0]['S4_Name']%>";
    <%}%>
    $("#members").append(row);
    var t = "<%= project[0]['T1']%>";
    <%if(project[0]['T2'] != null){%>
      t += "<br><%= project[0]['T2']%>";
    <%}%>
    $("#inM").append(t);
    var exM = ""
    <%if(project[0]['M1'] == null){%>
      exM = "-";
    <%}else{%>
      exM = "<%= project[0]['M1'] %>";
      <%if(project[0]['M2'] != null){%>
        exM += "<br><%= project[0]['M2'] %>";
      <%}%>
      <%if(project[0]['M3'] != null){%>
        exM += "<br><%= project[0]['M3'] %>";
      <%}%>
    <%}%>
    $("#eM").append(exM);
    <%if((user == project[0]['S1_Name'] || user == project[0]['S2_Name'] || user == project[0]['S3_Name'] || user == project[0]['S4_Name'])){%>
      $("#formTable").show();
    <%}%>
    <%if(project[0]['report'] == null){%>
      $("#Rp").html("Not submitted");
    <%}else if(project[0]['status'] == 'Extension Required'){%>
      $("#Rp").html("<a class = 'dlLink' href = '/download/ExtForm/<%= project[0]['report'] %>'> Extension Applied <i class='fa fa-download' aria-hidden='true'></i></a>");
    <%}else{%>
      $("#Rp").html("<a class = 'dlLink' href = '/download/Report/<%= project[0]['report'] %>'> <%= project[0]['report'] %> <i class='fa fa-download' aria-hidden='true'></i></a>");
    <%}%>
    <%if(project[0]['poster'] == null){%>
      $("#Pstr").html("Not submitted");
      <%}else{%>
        $("#Pstr").html("<a class = 'dlLink' href = '/download/Poster/<%= project[0]['poster'] %>'><%= project[0]['poster'] %><i class='fa fa-download' aria-hidden='true'></i></a>");
      <%}%>
    <%if(project[0]['status'] == null){%>
      $("#gStat").html("Pending");
    <%}else{%>
      $("#gStat").html("<%= project[0]['status'] %>");

    <%}%>
    $("#pStatus").change(function(){
      if($('#pStatus').val() == 'Extension Required'){
        $('#fuoL').html("Select Extension Form");
      }else{
        $('#fuoL').html("Select Project Docs");
      }
    });
    $("#fuo").change(function (e) {
      var $this = $(this);
      $this.next().html($this.val().split('\\').pop());
    });
    $("#fuoP").change(function (e) {
      var $this = $(this);
      $this.next().html($this.val().split('\\').pop());
    });
  </script>
</div>
  </body>
</html>
